<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <RG_Guestbook>
            <version>0.1.0</version>
        </RG_Guestbook>
    </modules>
    <frontend>
        <routers>
            <guestbook>
                <use>standard</use>
                <args>
                    <module>RG_Guestbook</module>
                    <frontName>guestbook</frontName>
                </args>
            </guestbook>
        </routers>
        <translate>
            <modules>
                <RG_Guestbook>
                    <files>
                        <default>RG_Guestbook.csv</default>
                    </files>
                </RG_Guestbook>
            </modules>
        </translate>
        <layout>
            <updates>
                <guestbook>
                    <file>rg_guestbook.xml</file>
                </guestbook>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <guestbook_setup>
                <setup>
                    <module>RG_Guestbook</module>
                </setup>
            </guestbook_setup>
        </resources>
        <blocks>
            <guestbook>
                <class>RG_Guestbook_Block</class>
            </guestbook>
        </blocks>
        <models>
            <guestbook>
                <class>RG_Guestbook_Model</class>
                <resourceModel>guestbook_resource</resourceModel>
            </guestbook>
            <guestbook_resource>
                <class>RG_Guestbook_Model_Resource</class>
                <deprecatedNode>RG_Guestbook_Model_Mysql4</deprecatedNode>
                <entities>
                    <guestbook>
                        <table>guestbook</table>
                    </guestbook>
                </entities>
            </guestbook_resource>
        </models>
        <helpers>
            <guestbook>
                <class>RG_Guestbook_Helper</class>
            </guestbook>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <RG_Guestbook>
                    <files>
                        <default>RG_Guestbook.csv</default>
                    </files>
                </RG_Guestbook>
            </modules>
        </translate>
        <!--<layout>
            <updates>
                <guestbook>
                    <file>rg_guestbook.xml</file>
                </guestbook>
            </updates>
        </layout>
    --></adminhtml>
    <default>
        <guestbook>
            <guestbook>
                <enabled>1</enabled>
            </guestbook>
            <recaptcha>
                <enabled>0</enabled>
            </recaptcha>
        </guestbook>
    </default>
</config>
